@mixin generar_columnas($dimension) {
  $i: 0;

  @each $tam in one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve {

    .#{$tam}-#{$dimension}.columns {
      width: 4.66666666667% + $i * 8.66666666667%;
    }
    
    .offset-by-#{$tam}-#{$dimension}.column,
    .offset-by-#{$tam}-#{$dimension}.columns {
      margin-left: 8.66666666667% + $i * 8.66666666667%;
    }

    $i: $i + 1;
  }

  .twelve-#{$dimension}.columns {
    width: 100%;
    margin-left: 0;
  }
}