@use 'mixins';

@media (min-width: 550px) {
  .container-fluid {
    width: 100%;
  }
  .desaparecer {
    display: none;
  }
  .aparecer {
    display: block;
  }

  .column, .columns { margin-left: 4%; }
  .column:first-child, .columns:first-child { margin-left: 0; }

  .six.columns { width: 48%; }         
  .one-half.column { width: 48%; }
  .one.column, .one.columns { width: 4.6666666667%; }
  .two.columns { width: 13.3333333333%; }
  .three.columns { width: 22%; }
  .four.columns { width: 30.6666666667%; }
  .five.columns { width: 39.3333333333%; }
  .seven.columns { width: 56.6666666667%; }
  .eight.columns { width: 65.3333333333%; }
  .nine.columns { width: 74.0%; }
  .ten.columns { width: 82.6666666667%; }
  .eleven.columns { width: 91.3333333333%; }
  .twelve.columns { width: 100%; margin-left: 0; }

  .galeria-amigos .six.columns {
    width: 50%;
  }
}

@media (min-width: 750px) {
  .container {
    width: 80%;
  }

  .container-fluid {
    width: 100%;
  }

  .desaparecer-lg {
    display: none;
  }

  .aparecer-lg {
    display: block;
  }

  .column,
  .columns {
    margin-left: 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  @include mixins.generar_columnas("lg");

  .galeria-amigos .four-lg.columns {
    width: 33.33333333%;
  }
} 