@media (min-width: 550px) {
  .container-fluid {
    width: 100%;
  }

  .desaparecer {
    display: none;
  }

  .aparecer {
    display: block;
  }
  
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  // .four.columns {
  //   width: 30.6666666667%;
  // }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74.0%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 48%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

@media (min-width: 750px) {
  .container {
    width: 80%;
  }

  .container-fluid {
    width: 100%;
  }

  .desaparecer-lg {
    display: none;
  }

  .aparecer-lg {
    display: block;
  }

  .column,
  .columns {
    margin-left: 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one-lg.column,
  .one-lg.columns {
    width: 4.66666666667%;
  }

  .two-lg.columns {
    width: 13.3333333333%;
  }

  .three-lg.columns {
    width: 22%;
  }

  .four-lg.columns {
    width: 30.6666666667%;
  }

  .five-lg.columns {
    width: 39.3333333333%;
  }

  .six-lg.columns {
    width: 48%;
  }

  .seven-lg.columns {
    width: 56.6666666667%;
  }

  .eight-lg.columns {
    width: 65.3333333333%;
  }

  .nine-lg.columns {
    width: 74.0%;
  }

  .ten-lg.columns {
    width: 82.6666666667%;
  }

  .eleven-lg.columns {
    width: 91.3333333333%;
  }

  .twelve-lg.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third-lg.column {
    width: 30.6666666667%;
  }

  .two-thirds-lg.column {
    width: 65.3333333333%;
  }

  .one-half-lg.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one-lg.column,
  .offset-by-one-lg.columns {
    margin-left: 8.66666666667%;
  }

  .offset-by-two-lg.column,
  .offset-by-two-lg.columns {
    margin-left: 17.3333333333%;
  }

  .offset-by-three-lg.column,
  .offset-by-three-lg.columns {
    margin-left: 26%;
  }

  .offset-by-four-lg.column,
  .offset-by-four-lg.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-five-lg.column,
  .offset-by-five-lg.columns {
    margin-left: 43.3333333333%;
  }

  .offset-by-six-lg.column,
  .offset-by-six-lg.columns {
    margin-left: 52%;
  }

  .offset-by-seven-lg.column,
  .offset-by-seven-lg.columns {
    margin-left: 60.6666666667%;
  }

  .offset-by-eight-lg.column,
  .offset-by-eight-lg.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-nine-lg.column,
  .offset-by-nine-lg.columns {
    margin-left: 78.0%;
  }

  .offset-by-ten-lg.column,
  .offset-by-ten-lg.columns {
    margin-left: 86.6666666667%;
  }

  .offset-by-eleven-lg.column,
  .offset-by-eleven-lg.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third-lg.column,
  .offset-by-one-third-lg.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-two-thirds-lg.column,
  .offset-by-two-thirds-lg.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half-lg.column,
  .offset-by-one-half-lg.columns {
    margin-left: 52%;
  }
  
  .six.columns {
    width: 30.6666666667%;
  }
}