@use 'normalize';
@use 'skeleton';
@use 'variables'; 
@use 'comunes';
@use 'tam_lg';

:root {
  --fuenteGeneral: 'Raleway', 'HelveticaNeue', sans-serif;
  --colorFondo: #FFFFFF;
  --colorTexto: #222222;
  --colorPrincipal: #1EAEDB;
}

body {
  font-family: var(--fuenteGeneral);
  background-color: var(--colorFondo);
  color: var(--colorTexto);
}

a, nav a {
  color: var(--colorPrincipal);
}

a.button.button-primary,
input.button.button-primary {
  background-color: var(--colorPrincipal);
  border-color: var(--colorPrincipal);
  color: #FFF;
}