@use 'normalize';
@use 'skeleton';
@use 'comunes';
@use 'tam_lg';

:root {
  --fuenteGeneral: 'Lato', 'HelveticaNeue', sans-serif;
  --colorFondo: #fce4ec;     
  --colorTexto: #5c4e56;      
  --colorPrincipal: #e91e63;  
}

body {
  font-family: var(--fuenteGeneral);
  background-color: var(--colorFondo);
  color: var(--colorTexto);
}

a, nav a {
  color: var(--colorPrincipal);
}

a.button.button-primary,
input.button.button-primary {
  background-color: var(--colorPrincipal);
  border-color: var(--colorPrincipal);
  color: #FFF;
}