@use 'normalize';
@use 'skeleton';
@use 'comunes';
@use 'tam_lg';

body {
  font-family: 'Lato', 'HelveticaNeue', sans-serif;
  background-color: #fce4ec;
  color: #5c4e56;
}

a {
  color: #e91e63;
}

nav a {
  color: #e91e63;
}

a.button.button-primary,
input.button.button-primary {
  background-color: #e91e63;
  border-color: #e91e63;
  color: #FFF;
}
