:root {
  --fuenteGeneral: 'Lato', 'HelveticaNeue', sans-serif;
  --colorPrincipal: #e91e63;     
  --colorSecundario: #D5ACA9;
  --colorTerciario: #EBCFB2;
  --colorCuaternario: #d1a7b1;
  --colorFondo: #fce4ec;
  --colorTexto: #5c4e56;
}