@import 'comunes'

$font-family: 'Raleway', 'HelveticaNeue', sans-serif
$bg-color: #FFFFFF
$text-color: #222222
$link-color: #1EAEDB

body
  font-family: $font-family
  background-color: $bg-color
  color: $text-color

a
  color: $link-color
  
nav a
  color: $link-color

.button.button-primary
  background-color: $link-color
  border-color: $link-color
  color: #FFF