extends layout.pug

block content
  .row
    .twelve.columns
      h2 Amigos del Fede
      p Clientes ilustres (y no tan ilustres...).

  .row
    .six.columns.four-lg.columns
      .placeholder-box.amigos-card 
    .six.columns.four-lg.columns
      .placeholder-box.amigos-card
    .six.columns.four-lg.columns
      .placeholder-box.amigos-card
  .row
    .six.columns.four-lg.columns
      .placeholder-box.amigos-card 
    .six.columns.four-lg.columns
      .placeholder-box.amigos-card
    .six.columns.four-lg.columns
      .placeholder-box.amigos-card

  .row
    .twelve.columns
      a.button(href="index.html") Volver al Home