header.u-full-width
  .row
    .four.columns
      a(href="index.html")
        h4 El Badulaque
        
    .eight.columns
      nav
        ul.row
          li.three.columns
            a(href="index.html") Home
          li.three.columns
            a(href="amigos.html") Amigos
          li.three.columns
            a(href="peticiones.html") Peticiones
          li.three.columns
            a(href="encargos.html") Encargos