header.u-full-width
  .row
    .twelve.columns.four.columns.three-lg.columns
      a(href="index.html")
        h4 El Badulaque

    .twelve.columns.eight.columns.nine-lg.columns
      nav
        ul.row
          li.twelve.columns.three.columns
            a(href="index.html") Home
          li.twelve.columns.three.columns
            a(href="amigos.html") Amigos
          li.twelve.columns.three.columns
            a(href="peticiones.html") Peticiones
          li.twelve.columns.three.columns
            a(href="encargos.html") Encargos