header.u-full-width
  .row
    .four.columns
      a(href="index.html")
        h4 El Badulaque
    .eight.columns
      nav
        ul.u-pull-right
          li: a(href="index.html") Home
          li: a(href="amigos.html") Amigos
          li: a(href="peticiones.html") Peticiones
          li: a(href="encargos.html") Encargos