extends layout.pug

block content
  .row
    .twelve.columns
      h2 Encarga tu Pack

  h5 Packs Predefinidos
  .row
    .four.columns
      strong Pack Fiestero
      p El pack m치s completo para tu fiesta.
      a.button.button-primary(href="#") Encargar
    .four.columns
      strong Pack Cumple
      p Todo lo necesario para un cumplea침os.
      a.button.button-primary(href="#") Encargar
    .four.columns
      strong Pack Mix
      p Una selecci칩n variada de chuches.
      a.button.button-primary(href="#") Encargar

  hr

  .row
      h5 Crea tu Propio Pack
      form
        .row
          .twelve.columns
            p Elige los componentes de tu pack:
            label
              input(type="checkbox")
              span.label-body Gominolas
            label
              input(type="checkbox")
              span.label-body Chocolates
            label
              input(type="checkbox")
              span.label-body Chicles

        .row
          .twelve.columns
            input.button.button-primary(type="submit" value="Enviar Petici칩n")
        .row
          .twelve.columns
            a.button(href="index.html") Volver al Home