.row
  .twelve.columns
    h2 Bienvenido al Badulaque de Fede

.row
  .four.columns.offset-by-two 
    h5 FOTO DE LA TIENDA
    .placeholder-box

  .four.columns.offset-by-one 
    h5 Objetivo: “Que no falten chuches en tu vida”
    p Conoce nuestra tienda, nuestro trato y pide tus chuches favoritas.
    
    h6  Ubicación: Cerca de tu casa
    
    h6  Horario
    p 
      strong Lunes a Sábado: 
      | 9:00 - 21:00
    p 
      strong Domingos: 
      | 10:00 - 14:00