extends base.pug

block layout_structure
  
  .row
    .three.columns
      h5 Menú
      nav
        ul.menu-vertical
          li: a(href="index.html") Home
          li: a(href="amigos.html") Amigos
          li: a(href="peticiones.html") Peticiones
          li: a(href="encargos.html") Encargos
    
    .nine.columns
      main
        block content