extends layout.pug

block content
  .row
    .twelve.columns
      h2 Pide tus Chuches Favoritas

  .row
    .eight.columns.offset-by-two
      form
        .row
          .twelve.columns
            label(for="nombreInput") Nombre
            input.u-full-width(type="text" id="nombreInput")

        .row
          .twelve.columns
            label(for="productoInput") Producto
            input.u-full-width(type="text" placeholder="Ej: Gominolas de fresa" id="productoInput")
        
        .row
          .twelve.columns
            label(for="comentarioInput") Comentario
            input.u-full-width(type="text" placeholder="Danos más detalles (marca, tipo...)" id="comentarioInput")

        .row
          .twelve.columns
            input.button.button-primary(type="submit" value="Enviar Petición")

        .row
          .twelve.columns
            a.button(href="index.html") Volver al Home